.container {
  height: 100%;
  display: grid;
  grid-template-areas: 
  'header header header'
  'main main main'
  'main main main'
  'main main main'
  'main main main'
  'footer footer footer';
}

.header {
  grid-area: header;
  border: 2px solid red;
  margin: .5em;
}

.main {
  grid-area: main;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.left-column {
  border: 5px solid green;
  width: 50%;
  margin: .7em;
}

.right-column {
  border: 5px solid green;
  width: 50%;
  margin: .7em;
}

.footer {
  grid-area: footer;
  border: 2px solid rgb(37, 16, 226);
  margin: .5em;
}