body {
  background-color: rgb(48, 42, 42);
}

header {
  background-color: mediumseagreen;

}


.container {
  display: grid;
  grid-template-areas: 
  'main main'
  'main main'
  'left-top right-top'
  'left-bottom right-bottom';


}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}





.reading-section{
  margin: 10px;
  grid-area: right-top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1em solid rgba(25, 129, 199, 0.507);
  min-height: 250px;
  width: auto;
  background-color: mediumseagreen;
  border-radius: 200px;

}
 
.health-section {
  margin: 10px;
  grid-area: left-top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1em solid mediumseagreen;
  min-height: 250px;
  width: auto;
  background-color: rgba(25, 129, 199, 0.507);
  border-radius: 200px;
 
  
}

.food-section {
  margin: 10px;
   grid-area: left-bottom;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
    border: 1em solid rgba(25, 129, 199, 0.507);
    min-height: 250px;
    background-color: mediumseagreen;
    border-radius: 200px;
}
 
.gaming-section {
  margin: 10px;
  grid-area: right-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1em solid mediumseagreen;
  min-height: 250px;
  background-color: rgba(25, 129, 199, 0.507);
  border-radius: 200px;
}

footer {
  border: 2px solid black;
}


@media (max-width: 600px) {

  .container {
    display: grid;
    grid-template-areas: 
    'main'
    'main'
    'left-top'
    'right-top'
    'left-bottom' 
    'right-bottom';

}



}