
body {
  height: 1200px;
  background-color: rgb(58, 58, 59);
}

header {
  background-color: mediumseagreen;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

 
.logo {
  grid-column: 1/2;
  height: 150px;
  width: 150px;
  
}

.nav-bar{
  grid-column: 2/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;


}

.innerNav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* justify-content: space-evenly; */
}

.navHome {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  font-size: 17px;
 
}

.navHome:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navResume{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
   
}

.navResume:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}
.navAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  
}

.navAbout:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  
}

.navGallery:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navContactMe{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
}
.navContactMe:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}


main {
  height: inherit;
  display: grid;
  grid-template-areas: 
  'left top top'
  'left top top'
  'left center right'
  'bottom bottom right'
  'bottom bottom right';
  margin: 10px;
  
}

.main-top {
  grid-area: top;
   display: flex;
     flex-direction: row;
   background-color: mediumseagreen;
  margin: .2em;
  
}

.top-center-img {
  display: block;
   width: 50%;
     height: auto;
       margin: .2em;
  /* background-image: url(./imagesForGallery/moonOverSun-unsplash.jpg); */
     background-size: 100%;
   background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  
}

.right-img-one {
  justify-content: end;
  width: 50%;
  margin: .2em;
  /* background-image: url(./imagesForGallery/wood-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}


.main-left {
  grid-area: left;
  height: auto;
  background-color: rgba(25, 129, 199, 0.507);   
} 


.left-img-one {
  display: block;
  height: 30%;
  margin: .5em;
  /* background-image: url(./imagesForGallery/waterTwo-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  border: 2px solid white;
}


.left-img-two {
  display: block;
  height: 32%;
  margin: .5em;
  /* background-image: url(./imagesForGallery/waterTwo-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  
}

.left-img-three {
  display: block;
  height: 32%;
  margin: .5em;
  /* background-image: url(./imagesForGallery/waterTwo-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 2px solid white;
  
}

.main-center {
  grid-area: center;
  border: 10px solid mediumseagreen;
  background-color: rgb(58, 58, 59);
  
}

.main-right{
  margin: .2em;
  grid-area: right;
  border: 2px solid black;
  background-color: rgba(25, 129, 199, 0.507);
}

.right-img-two {
  height: 30%;
  margin: .5em;
  /* background-image: url(./imagesForGallery/fireThree-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  border: 2px solid white;
  
  
}

.right-img-three {
  height: 32%;
  margin: .5em;
  /* background-image: url(./imagesForGallery/fireThree-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.right-img-four {
  height: 32%;
  margin: .5em;
  /* background-image: url(./imagesForGallery/fireThree-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 2px solid white;
}

.main-bottom {
  grid-area: bottom;
  margin: .2em;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  background-color: mediumseagreen;
  
}

.left-img-four {
  width: 50%;
  margin: .2em;
  /* background-image: url(./imagesForGallery/wind-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  
}


.bottom-center-img {
  width: 50%;
  margin: .2em;
  /* background-image: url(./imagesForGallery/Earth-unsplash.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  
}
/* 
.overlay-eclipse { 
  height: 100%;
  width: 100%;
    opacity: 0;
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-center-img:hover {
    transition: ease 1s;
    opacity: .5;
    /* background-image: url(./imagesForGallery/moonOverSun-unsplash.jpg); 
  
  }

  .top-center-img:hover .overlay-eclipse {
    opacity: 1;
    color: white;

  }

  .top-center-img:hover .overlay-eclipse .top-center-text{
    font-size: 20px;
  } */



/* 
.overlay-wood {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-img-one:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/wood-unsplash.jpg);

}

.right-img-one:hover .overlay-wood {
  opacity: 1;
  color: white;

}

.right-img-one:hover .overlay-wood .wood-text{
  font-size: 20px;
} */


/* .overlay-topWater {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-img-one:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/waterTwo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: top;

}

.left-img-one:hover .overlay-topWater {
  opacity: 1;
  color: white;

}

.left-img-one:hover .overlay-topWater .topWater-text{
  font-size: 20px;
} */


/* 
.overlay-midWater {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-img-two:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/waterTwo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.left-img-two:hover .overlay-midWater {
  opacity: 1;
  color: white;

}

.left-img-two:hover .overlay-midWater .midWater-text{
  font-size: 20px;
} */


/* .overlay-bottomWater {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-img-three:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/waterTwo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: bottom;

}

.left-img-three:hover .overlay-bottomWater{
  opacity: 1;
  color: white;

}

.left-img-three:hover .overlay-bottomWater .bottomWater-text{
  font-size: 20px;
} */


/* .overlay-topFire {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-img-two:hover {
  transition: ease 1s;
  opacity: .5;  background-image: url(./imagesForGallery/fireThree-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;


}

.right-img-two:hover .overlay-topFire{
  opacity: 1;
  color: white;

}

.right-img-two:hover .overlay-topFire .topFire-text{
  font-size: 20px;
} */



/* .overlay-midFire {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-img-three:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/fireThree-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.right-img-three:hover .overlay-midFire{
  opacity: 1;
  color: white;

}

.right-img-three:hover .overlay-midFire .midFire-text{
  font-size: 20px;
} */



/* .overlay-bottomFire {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-img-four:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/fireThree-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: bottom;

}

.right-img-four:hover .overlay-bottomFire{
  opacity: 1;
  color: white;

}

.right-img-four:hover .overlay-bottomFire .bottomFire-text{
  font-size: 20px;
} */


/* 
.overlay-wind {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-wind .wind-text{
  display: none;
}

.left-img-four:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/wind-unsplash.jpg);

}

.left-img-four .overlay-wind {
  opacity: 1;
  color: white;

}

.left-img-four:hover .overlay-wind .wind-text{
  display: block;
  font-size: 25px;
} */


/* .overlay-earth {  
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-earth .earth-text{
  display: none;
}

.bottom-center-img:hover {
  transition: ease 1s;
  opacity: .5;
  background-image: url(./imagesForGallery/Earth-unsplash.jpg);

}

.bottom-center-img .overlay-earth {
  opacity: 1;
  color: white;

}

.bottom-center-img:hover .overlay-earth .earth-text{
  display: block;
  font-size: 25px;
} */

@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-areas: 
    'left top'
    'left top'
    'left right'
    'bottom right'
    'bottom right';
    
  }

  .main-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    background-color: mediumseagreen;
  
    }

    .top-center-img {
      display: block;
      width: 100%;
      height: 50%;
      margin: .2em;
      /* background-image: url(./imagesForGallery/moonOverSun-unsplash.jpg); */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      
    }

    .right-img-one {
      width: 100%;
      height: 50%;
      margin: .2em;
      /* background-image: url(./imagesForGallery/wood-unsplash.jpg); */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .main-bottom {
      grid-area: bottom;
      margin: .2em;
      display: flex;
      flex-direction: column;
      background-color: mediumseagreen;
     
    }
    
    .left-img-four {
        width: 100%;
        height: 50%;
        margin: .2em;
        /* background-image: url(./imagesForGallery/wind-unsplash.jpg); */
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    
    }

    .bottom-center-img {
      width: 100%;
      height: 50%;
      margin: .2em;
      /* background-image: url(./imagesForGallery/Earth-unsplash.jpg); */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    
  }

}

@media (max-width: 420px) {

  main {
    height: 1200px;
    display: grid;
    grid-template-areas: 
    'top'
    'left'
    'center'
    'bottom'
    'right';
    
  }

  .main-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    background-color: mediumseagreen;
  
    }

    .top-center-img {
      display: block;
      width: 100%;
      margin: .2em;
      /* background-image: url(./imagesForGallery/moonOverSun-unsplash.jpg); */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      
    }

    .right-img-one {
      width: 100%;
      margin: .2em;
      /* background-image: url(./imagesForGallery/wood-unsplash.jpg); */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .main-bottom {
      grid-area: bottom;
      margin: .2em;
      display: flex;
      flex-direction: column;
      background-color: mediumseagreen;
     
    }
    
    .left-img-four {
        width: 100%;
        margin: .2em;
        /* background-image: url(./imagesForGallery/wind-unsplash.jpg); */
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    
    }

    .bottom-center-img {
      width: 100%;
      margin: .2em;
      /* background-image: url(./imagesForGallery/Earth-unsplash.jpg); */
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    
  }

}
