.parent-container{
  background-color: rgb(58, 58, 59);
  height: auto;
  display: grid;
  grid-template-areas: 
  'aside main main main'
  'aside main main main'
  'aside main main main'
  'aside main main main'
  'aside section section section'
  'aside section section section';
}

header {
  background-color: mediumseagreen;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

h2 {
  color: white;
}
 
.logo {
  grid-column: 1/2;
  height: 150px;
  width: 150px;
  
}

.nav-bar{
  grid-column: 2/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;


}

.innerNav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* justify-content: space-evenly; */
}
.navHome {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  font-size: 17px;
 
}

.navHome:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navResume{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
   
}

.navResume:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}
.navAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  
}

.navAbout:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  
}

.navGallery:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navContactMe{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
}
.navContactMe:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.main-content {
  grid-area: main;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.upper{
  height: 48%;
  border: 10px solid mediumseagreen;
  margin: .2em;
  background-color: rgba(25, 129, 199, 0.507);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

.upper-left {
  border-right: 1px solid white;
  width: 50%;
  margin: .2em;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myPic {
  height: 75%;
  width: 60%;
  border-radius: 30px;
}

.upper-right {
  border-left: 1px solid white;
  padding-top: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  line-height: 1.5;

}

.profile-head {
  font-size: 20px;
  justify-content: center;
  border-bottom: 2px solid white;
}

.profile-content {
  margin: .2em;
  justify-content: center;
  /* padding-left: 5%;
  padding-right: 5%; */


}

.profile-content p {
  color: white;
}

.lower {
  display: flex;
  flex-direction: column;
  height: 48%;
  border: 10px solid mediumseagreen;
  margin: .3em;
  background-color: rgba(25, 129, 199, 0.507);
  border-radius: 30px;

}

.Experience {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.experience-text {
  font-size: 30px;
  border-bottom: 2px solid white;
}


.work-container {
  height: 85%;
  display: flex;
  flex-direction: row;
  
}

.column-lower {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 30px;
  width: 33%;
  color: white;
  line-height: 1.5;
  padding: 15px;

}





.side-bar {
  grid-area: aside;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.first {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: .2em;
  height: 24%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.first-head {
  padding-top: 5%;
  font-size: 20px;
  border-bottom: 2px solid white;
}

.first-text {
  color: white;
  padding: 10px;
}

.second {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: .2em;
  height: 24%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.pt-cert {
  padding-top: 5%;
  font-size: 20px;
  border-bottom: 2px solid white;
}

.cert-list {
  padding: 10px;
}

li {
  color: white;
}

.third {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: .2em;
  height: 24%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.third-head {
  padding-top: 5%;
  font-size: 20px;
  border-bottom: 2px solid white;
}

.third-text {
  color: white;
  padding: 10px;
  line-height: 1.5;
}

.fourth {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: .2em;
  height: 24%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.fourth-head {
  padding-top: 5%;
  font-size: 20px;
  border-bottom: 2px solid white;
}

.fourth-text {
   display: flex;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 30px;
  height: 200px;
  color: white;
  padding: 10px;
}

.secondary-content {
  grid-area: section;
  border: 3px solid black;
  display: flex;
  border-radius: 30px;
}

.lower-left {
  border: 10px solid rgba(25, 129, 199, 0.507);
  margin: .3em;
  width: 48%;
  border-radius: 30px;
  background-color: mediumseagreen;
  color: white;
  line-height: 1.5;
  

  
}

.lower-right {
  border: 10px solid rgba(25, 129, 199, 0.507);
  margin: .3em;
  width: 48%;
  border-radius: 30px;
  background-color: mediumseagreen;
  color: white;
  justify-content: center;

}

@media (max-width: 1080px) {
  .parent-container {
    display: grid;
    grid-template-areas: 
    'main main main'
    'main main main'
    'main main main'
    'section section section'
    'section section section'
    'aside aside aside'
    'aside aside aside';

}

@media (max-width: 600px) {
 .parent-container {
  display: grid;
  grid-template-areas: 
  'main main'
  'main main'
  'main main'
  'main main'
  'aside aside'
  'aside aside'
  'section section'
  'section section';
}
}

