body {
  background-color: rgb(48, 42, 42);
}

header {
  background-color: mediumseagreen;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}



.logo {
  grid-column: 1/2;
  height: 150px;
  width: 150px;
  
}

.nav-bar{
  grid-column: 2/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;


}

.innerNav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* justify-content: space-evenly; */
}

.navHome {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  font-size: 17px;
 
}

.navHome:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navResume{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
   
}

.navResume:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}
.navAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  
}

.navAbout:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
  
}

.navGallery:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}

.navContactMe{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 4em;
  height: 2.5em;
  margin: 12px;
  border-radius: 20px;
}
.navContactMe:hover {
  transform: scaleX(1.3) scaleY(1.3);
  transition-duration: 1s;
  animation-name: grow-font;
 
}


.name-container {
  color: white;
 
}

.container {
  display: grid;
  grid-template-areas: 
  'main main'
  'main main'
  'left-top right-top'
  'left-bottom right-bottom';


}

.main {
  grid-area: main;
  display: flex;
}



.resume-section{
  margin: 10px;
  grid-area: right-top;
  border: 1em solid rgba(25, 129, 199, 0.507);
  min-height: 250px;
  width: auto;
  background-color: mediumseagreen;
  border-radius: 200px;
}

.about-me-section {
  margin: 10px;
  grid-area: left-top;
  border: 1em solid mediumseagreen;
  min-height: 250px;
  width: auto;
  background-color: rgba(25, 129, 199, 0.507);
  border-radius: 200px;
}

.my-blog-section {
  margin: 10px;
  grid-area: left-bottom;
  border: 1em solid rgba(25, 129, 199, 0.507);
  min-height: 250px;
  background-color: mediumseagreen;
  border-radius: 200px;
}

.contact-me-section {
  margin: 10px;
  grid-area: right-bottom;
  border: 1em solid mediumseagreen;
  min-height: 250px;
  background-color: rgba(25, 129, 199, 0.507);
  border-radius: 200px;
}

footer {
  height: 125px;
  width: 100%;
  border: 3px solid white;
  background-color: rgb(48, 42, 42);
}

.thumbContainer {
  border: 2px solid white;
}


 

/*  
  button {
    width: 20%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    background: transparent;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  } 
  */


  @media (max-width: 600px) {

    .container {
      display: grid;
      grid-template-areas: 
      'main'
      'main'
      'left-top'
      'right-top'
      'left-bottom' 
      'right-bottom';

  }

  .name-container {
    color: white;
    border: none;
  }

  footer {
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
  }

  button {
    /* margin: 3% auto; */
    width: 20%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 15px; */
    background: transparent;
    text-align: center;
    color: white;
    /* letter-spacing: 16px; */
    font-style: italic;
  }

}